* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
#navbarContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#logoImageMobile {
  height: 3.7rem;
}

nav {
  display: flex;
}
#menu_burger {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.burger-bar {
  height: 0.5rem;
  width: 3.3rem;
  background-color: black;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
  transition: ease-out 0, 5s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0, 5s;
}
.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.3rem, 0.8em);
  transition: ease-out 0, 5s;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.menu.hidden {
  display: none;
}

.menu.visible {
  position: absolute;
  background-color: #f9fbe1fc;
  padding-top: 3em;
  padding-bottom: 4em;
  margin-top: 4rem;
  z-index: 10;
  width: 100%;
}

.homeLink {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.homeLink.hovered {
  color: #666518;
  font-size: 1.8em;
  font-weight: bold;
}

#avatar_icon {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

/* version mobile */

@media (max-width: 431px) {
  #logoImageDesktop {
    display: none;
  }

  #navbarLinksDesktop {
    display: none;
  }

  #sectionBurgerAndProfile {
    display: flex;
    align-items: baseline;
    background-color: #c2c2c2;
    padding: 0.1rem 0.5rem 0.1rem 0.8rem;
    border-radius: 3rem;
  }
}

/* version tablet/desktop */

@media (min-width: 431px) {
  #logoImageMobile {
    display: none;
  }

  #logoImageDesktop {
    height: 4.0rem;
  }

  #menu_burger {
    display: none;
  }

  .navBarLinks {
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight: bold;
  }
  .navBarLinks:hover {
    color: #666518;
    font-size: 1.5em;
  }

  #navbarLinksDesktop {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  #LinksAndProfileDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}
